.username-bubble {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 15px;
    margin-bottom: 5px;
}

.grid-link {
    font-size: 16px;
    color: rgb(63, 233, 29);
    cursor: pointer;
    margin-left: 10px;
}

.stream-title {
    color: rgb(255, 255, 255);
    margin-top: 5px; /* Add some space between the name and title */
    font-size: 16px;
}
.stream-name {
    font-size: 22px;
    color: white;
    bottom: 50%; /* Responsive bottom position */
    font-weight: bold;
}
.user-count {
    font-family: 'YourFontFamily', sans-serif; /* Replace 'YourFontFamily' with your desired font */
    font-size: 12px; /* Adjust the font size to be smaller */
    color: #888; /* Adjust the color if needed */
}
.category {
    cursor: pointer;
    font-weight: bold;
    font-size: 30px; /* Adjust the font size as needed */
	background-color: #1f1f23; /* Set background color to Blue Grey */
    color: rgb(255, 255, 255); /* Set color of usernames to blue */
}
.category:hover {
    background-color: rgb(84, 18, 114);
    color: rgb(255, 255, 255); /* Set color of usernames to blue */
}
.category.highlighted {
    background-color: rgb(84, 18, 114);
}
.sub-item {
    cursor: pointer;
    display: flex; /* Use flexbox to align items */
	color: rgb(255, 255, 255); /* Set color of usernames to blue */
	background-color: #43434e; /* Set background color to Blue Grey */
}

.sub-item:hover {
    background-color: rgb(84, 18, 114);
    color: rgb(255, 255, 255); /* Set color of usernames to blue */
}
.highlighted-sub-item {
    background-color: rgb(84, 18, 114);
    color: rgb(255, 255, 255); /* Adjust text color if necessary */
}
.highlighted-title-div {
    background-color: rgb(84, 18, 114);
    display: inline-block; /* Ensure the background only covers the text */
}
.username {
    margin-right: 0px; /* Add some space between the username and viewer count */
    font-size: 22px; /* Adjust the font size as needed */
}

.viewer-count {
    font-size: 14px;
    color: rgb(255, 255, 255); /* Set color of usernames to blue */
    float: right; /* Align the viewer count to the right edge */
    margin-right: 10px; /* Add some space between the username and viewer count */
}


/* mobile-style.css */
body {
    font-size: 14px; /* Smaller font size for mobile */
    background-color: #0e0e10; /* Set background color to Blue Grey */

}
#player {
    position: relative !important;
    left: 0;
    margin-left: 0;
    padding-left: 0;
    background-color: #0e0e10; /* Set background color to Blue Grey */
    width: 375px; /* Adjust width as needed */
    height: 211px; /* Adjust height as needed */
}
#streamInfo {
    width: 100%; /* Make sidebar full width on mobile */
    position: relative; /* Change positioning on mobile */
    background-color: #0e0e10; /* Set background color to Blue Grey */
    left: 1px;
}

#streamdata {
    position: relative; /* Positioned relative to its container */
    font-size: 8px; /* Use vw for responsive font size */
    z-index: 40;
    font-weight: bold;
    color: white;
    background-color: #0e0e10; /* Set background color to Blue Grey */
}
#prodigy-btn {
    position: relative;
    font-size: 7px; /* Adjust the font size as needed */
    z-index: 7; /* Ensure it's above other content */
    font-weight: bold;
    color: white;
    background-color: #0ae01c; /* Set background color to Blue Grey */
}
#sidebar {
    width: 100%; /* Make sidebar full width on mobile */
    position: relative; /* Change positioning on mobile */
    top: auto; /* Reset top positioning */
    left: auto; /* Reset left positioning */
    overflow-x: hidden;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 30px;
    border-radius: 12px;
    width: 200px; /* Increased width */
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.modal-content p {
    font-size: 20px; /* Bigger text */
    font-weight: bold;
}

.modal-content button {
    font-size: 18px; /* Bigger button text */
    padding: 12px 20px;
    margin-top: 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #0056b3;
}
.view-all-link {
    font-size: 1.00vw;
    color: rgb(63, 233, 29);
    margin-left: 5px;
    cursor: pointer;
}
.view-all-link:hover {
    text-decoration: underline;
}
/* Remove all default margins */
body,
#sidebar,
#container,
#content,
#streamdata,
#player,
#chat,
#toggle-chat-btn,
#toggle-sidebar-btn,
#hard-reset-btn,
#newpage-button,
#usernamesContainer,
#contactForm,
#links,
#streamInfo,
#streamsInfo,
#suggestion-form {
    margin: 0;
}

#usernamesContainer {
    position: relative !important;
    background-color: #0e0e10; /* Set background color to Blue Grey */
}

/* Hide content that should not be visible on mobile */
#toggle-chat-btn,
#toggle-sidebar-btn,
#hard-reset-btn,
#top-menu,
#links,
#chat,
#newpage-button,
#newpage-button_2k,
.user-info,
#contactForm {
    display: none;
}




