body {
    height: 100%;
    margin: 0;
    background-color:#1b1a1a
}

#categoryTitle {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
#usernamesList {
    display: grid;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.twitch-embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    height: 0;
    margin: 0;
}

.playerButton {
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.playerButton:hover {
    background-color: #0056b3;
}

.twitch-embed iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

#usernamesList.single-stream .twitch-embed {
    padding-bottom: 0;
    height: 91vh;
    border: 0;
    border-radius: 0;
}

/* New label styles */
.playerLabel {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 5px;
    z-index: 10;
}

/* Category colors */
.host .playerLabel {
    background-color: orange;
    color: black; /* Set the font color to black */
}

.cameras .playerLabel {
    background-color: black;
}

.team1 .playerLabel {
    background-color: blue;
    color: white; /* Set the font color to black */
}

.team2 .playerLabel {
    background-color: white;
    color: black; /* Set the font color to black */
}
.current-unmuted {
    border: 2px solid #8f1a1a; /* Customize the border style */
}
.chatButton {
    background: #9147ff;
    color: white;
    border: none;
    padding: 1px 1px;
    font-size: 10px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 3px;
}
.deleteButton {
    background: #ffffff;
    color: white;
    border: none;
    padding: 1px 1px;
    font-size: 10px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 3px;
}
.deleteButton:hover {
    background: #5f0606;
}
.chatButton:hover {
    background: #772ce8;
}
.chat-wrapper {
    width: 100%;  /* Match the width of the player divs */
    height: 400px; /* Match the height of the player divs */
    margin-top: 10px;  /* Space between players and chat iframe */
}

.chat-iframe {
    width: 100%;
    height: 100%;
    border: none;
}
#container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: row; /* Align items horizontally */
    gap: 20px; /* Adjust the space between button container and legend */
}

#buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-grow: 1;
    order: 1; /* Ensures button container comes first */
}

#legendContainer {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    align-items: center; /* Vertically center the items */
    font-size: 14px;
    color: white;
    margin-left: 40px; /* Adds space between buttons and legend */
    order: 2; /* Ensures legend container comes second */
}
.chatIcon {
    background-color: #9147ff; /* Your desired background color */
}
.deleteIcon {
    background-color: #ffffff; /* Your desired background color */

}
